<title>Empleados registrados</title>

{% extends "dashboard/basemenu.html" %}

{% block title %}Empleados registrados{% endblock %}



{% block sidebar %}{% endblock %}



{% block content %} 
    <main class="px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h2">Empleados registrados</h3>
      
  </div>


  
        <!---Tabla-->
        <div class=container>
          

        <table class="table table bordered">
            <thead>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Tipo</th>
                <th scope="col"></th>
                 <th scope="col"></th>

              </thead>
        
        <tbody>
          {% for d in data %}
            <tr>
                <td>{{d.cedula}}</td>
                <td>{{d.nombre}}</td>
                <td>{{d.apellido}}</td>
                <td>{{d.prefijo_telefonico}}{{d.numero}}</td>
                <td>{{d.tipo}}</td>
                <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.cedula}}" data-bs-toggle="modal" data-bs-target="#modal{{d.cedula}}">Editar</button></td>
                <td><button class="eliminar btn btn-danger btn-sm" id="btn-eliminar{{d.cedula}}" data-bs-toggle="modal" data-bs-target="#modaleliminar{{d.cedula}}" >Eliminar</button></td>
            </tr>

            <!-- modal -->

            <div class="modal fade" id="modal{{d.cedula}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">{{usuario}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form action="/edit/{{d.cedula}}" method="post">
                          <label>Nombre</label>
                          <input type="text" class="form-control mb-3" name="nombre" value="{{d.nombre}}">
                          <label>Apellido</label>
                          <input type="text" class="form-control mb-3" name="apellido" value="{{d.apellido}}">
                          <label>telefono</label>
                          <div class="form-row">
                            <select id="prefijo_telefonico" name="prefijo_telefonico" class="form-control col-md-4">
                              <option value="{{d.prefijo_telefonico}}" selected="selected">{{d.prefijo_telefonico}}</option>
                              <option value="0414">0414</option>
                              <option value="0424">0424</option>
                              <option value="0412">0412</option>
                              <option value="0416">0416</option>
                              <option value="0426">0426</option>
                            </select>
                            <input value="{{d.numero}}" type="number" max="999999999999999" id="numero" name="numero" class="form-control col-md-6" ondrop="return false;" onpaste="return false;" value="{{d.numero}}"
                            onkeypress="return event.charCode>=48 && event.charCode<=57" minlength="7" 
                                    maxlength="7" 
                                    pattern="[0-9]+{7,7}" 
                                    title="El número debe tener 7 dígitos." required>
                          </div>
                          <label>Tipo</label>
                          <select name="tipo" class="form-control" required selected>----Seleccione-----
                            <option value="{{d.tipo}}">{{d.tipo}}</option>
                            <option value="Administrativo">Administrativo</option>
                            <option value="Técnico">Técnico</option>
                          </select>
                        
                    
                                
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                  </div>
                      </form>
                    </div>
                  </div>
                </div>

              
                    </div>
                  </div>
                </div>

            <!-- modal para borrar-->

            <div class="modal fade" id="modaleliminar{{d.cedula}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">{{d.nombre}} {{d.apellido}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>¿Está seguro de que desea eliminar este registro?</p>
                    <div class="modal-footer">
                      <a href="{{url_for('delete', cedula=d.cedula)}}" class="btn btn-danger btn-sm">Eliminar</a>
                      <button type="button" data-bs-dismiss="modal" class="btn btn-sm" id="cancelarEliminar">Cancelar</button>
                   </div>
                  </div>
                </div>
              </div>
            </div>   
           <!--  <div id="myModal" class="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                  <span class="close" data-bs-dismiss="modal" aria-label="Close">&times;</span>
                  <p>¿Está seguro de que desea eliminar este registro?</p>
                  <div class="modal-footer">
                    <button href="{{url_for('delete', cedula=d.cedula)}}" class=" btn-danger btn-sm">Eliminar</button>
                    <button class="btn btn-sm" id="cancelarEliminar">Cancelar</button>
                 </div>
               </div>
             </div>
          </div>-->

              
                </div>
              </div>

            </div> 


          {% endfor %}


        </tbody>

      </table>
    </div>








</body>

{% endblock %}
</html>
