<title>Registro de cliente</title>

{% extends "dashboard/basemenu.html" %}

{% block title %}Registro de cliente{% endblock %}



{% block sidebar %}{% endblock %}



{% block content %} 


    <main class="px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Registrar cliente</h1>
      </div>

        <!---Formulario-->
        <form name="form-registroCliente" id="form-registroCliente" action="{{ url_for('registrarCliente') }}" method="POST" class="mt-5" autocomplete="off">
        <div class="row">

          <div class="col-md-6">

            
<div class="form-group row">
  <div class="col-md-6">  <label for="cedula" class="form-label">Cédula</label>
      <input type="number" min="1" max="9999999999" name="cedula" class="form-control" 
             oninput="this.value = this.value.slice(0, 10)" onkeypress="return event.charCode>=48 && event.charCode<=57" autofocus required>
      <label for="placeholder" class="form-text text-muted">Ej. 12345678</label>
  </div>
  <div class="col-md-6">  
    <label for="numero" class="form-label">Teléfono</label>
      <div class="row">  
        <div class="col-md-4">
              <select class="form-control" id="prefijo_telefonico" name="prefijo_telefonico">
                  <option value="0414">0414</option>
                  <option value="0424">0424</option>
                  <option value="0412">0412</option>
                  <option value="0416">0416</option>
                  <option value="0426">0426</option>
              </select>
          </div>
          <div class="col-md-8">
              <input type="number" id="numero" name="numero" class="form-control"
                     oninput="this.value = this.value.slice(0, 15)" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
          </div>
          <div class="col-md-12">
              <label for="placeholder" class="form-text text-muted">Ej. 049876543</label>
          </div>
      </div>
  </div>
</div>
<div class="form-group row">
            <div class="col-md-6">
                <label for="nombre" class="form-label mt-1">Nombre</label>
                <input type="text" name="nombre" class="form-control" required>
          </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label mt-1">Apellido</label>
                <input type="text" name="apellido" class="form-control" required>
            </div>


</div>


        <h2 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Dirección</span>
        </h2>
<div class="form-group row">
        <div class="mb-6">
            <label for="calle" class="form-label">Calle</label>
            <input type="text" name="calle" class="form-control" required>
        </div>

        <div class="row">

          <div class="col-md-6">
              <label for="sector" class="form-label mt-1">Sector</label>
              <input type="text" name="sector" class="form-control" required>
        </div>
        <div class="col-md-6">
            <label for="numero_casa" class="form-label mt-1">Número de casa</label>
            <input type="number" min="1"  ondrop="return false;" onpaste="return false;"
            onkeypress="return event.charCode>=48 && event.charCode<=57" name="numero_casa" class="form-control">
      </div>
        </div>

        <div class="row">
           <div class="col-md-6">
              <label for="estado" class="form-label">Estado</label>
            <select id="estado" name="estado"  class="form-control"required>
              <option value="0" disabled selected="selected">--- Seleccione ---</option>
                  {% for estado in estados %}
                  <option value="{{ estado.codigo_estado}}">{{estado.nombre_estado}}</option>
                  {% endfor %}

            </select>          
          </div>
          <div class="col-md-6" >
              <label for="ciudad">Ciudad</label>
                <select id="ciudad" name="ciudad" class="form-control"required>
                  <option value="" disabled selected>--- Seleccione ---</option>
                </select>

          </div>


         

          <div class="grid gap-2 mt-3 mb-3">
              <input type="submit" class="btn btn-primary btn-send" id="sendForm" value="Registrar">
          </div>
        </div>

      </form>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"> </script>

      <script>
        document.getElementById('estado').addEventListener('change', function() {
            let estadoId = this.value;
            let ciudadSelect = document.getElementById('ciudad');
        
            // Limpiar opciones previas
            ciudadSelect.innerHTML = '<option value="" disabled selected>--- Seleccione ---</option>';
        
            if (estadoId) {
                fetch(`/get_ciudades?estado_id=${estadoId}`)  // Cambié la ruta aquí
                .then(response => response.json())
                .then(data => {
                    console.log(data);  // Imprime los datos para ver su estructura
                    data.forEach(ciudad => {
                        let option = document.createElement('option');
                        option.value = ciudad.codigo_ciudad;
                        option.textContent = ciudad.nombre_ciudad;
                        ciudadSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error cargando ciudades:', error));
            }
        });
        </script>
        




</body>

{% endblock %}
</html>
