{% extends 'login/base.html' %}

{% block title %}Login{% endblock %}

{% block customeCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login.css')}}">
<title>Toggle Password Visibility</title>
<link rel="stylesheet" 
      href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" 
      href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity=
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

<style>.bi {
  cursor: pointer;
  position: absolute;
  right: 10px; /* Ajusta la posición según sea necesario */
  top: 50%;
  transform: translateY(-50%);}

</style>

{%endblock %}

{% block body %}


<body class="text-center">
  <style>.eye {
    cursor: pointer;
  }</style>
<form class="form-login" action="{{ url_for('loginUser') }}" method='POST'>
    <img class="mb-4" src="" alt="" width="200" height="200">
    <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>

    {% with messages = get_flashed_messages() %}
            {% if messages %}

            <br/>
            {% for message in messages %}

            <div class="alert alert-primary alert-dismissible" role="alert">

              <strong>{{ message }}</strong>

              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}

    <div class="form-floating">
      <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
      <label for="usuario">Usuario</label>
    </div>
    
    <div class="form-floating mt-2" class="form-group">
      
      <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña">   
       <i class="bi bi-eye-slash bi-eye" id="togglePassword"></i>
      <label for="contraseña">Contraseña </label>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>

    <div class="row">
    <div class="mb-12">
      <a href="{{url_for('recuperarContraseña')}}" id="link_sign_up" class="createUser">Olvidé mi contraseña</a>
      <a href="{{url_for('registerUser')}}" id="link_sign_up" class="createUser">Registrarse</a>
        
    </div>
  </div>

  </form>
  <script>
   const togglePassword = document.getElementById('togglePassword');
   togglePassword.classList.add('bi-eye-slash'); // Asegura que el ojo esté cerrado al inicio

  const password = document.getElementById('contraseña');


togglePassword.addEventListener('click', function() {
  // Toggle the type attribute
  const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
  password.setAttribute('type', type);

  // Toggle the icon   
 classes
  if (type === 'password') {
    this.classList.remove('bi-eye');
    this.classList.add('bi-eye-slash');
  } else {
    this.classList.remove('bi-eye-slash');
    this.classList.add('bi-eye');   

  }
});
</script>
  </body>
  
{% endblock %}
