{% extends 'login/base.html' %}

{% block title %}Registro de usuario{% endblock %}


{% block customeCSS %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/login.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/registerUser.css')}}">
<link rel="stylesheet" 
      href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" 
      href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity=
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
{%endblock %}

{% block body %}
<body>
    <form class="needs-validation" novalidate id="registerUser3" name="form-registerUser3"  action="{{ url_for('registerUser3') }}" method="POST" autocomplete="off">
    
            

          <section class="vh-100 d-flex justify-content-center align-items-center" 
            style="background: url('/static/assets/img/fondo7.jpg') no-repeat center center; background-size: cover;">
                  <div class="container py-5 h-100 d-flex justify-content-center align-items-center">
                    <div class="col col-xl-8 col-lg-10">
                      <div class="card" style="border-radius: 1rem; 
                                                background: transparent; 
                                                border: 2px solid rgba(255, 255, 255, .2); 
                                                backdrop-filter: blur(20px); 
                                                max-width: 600px; /* Anchura máxima del contenedor */
                                                width: 100%; /* Asegura que ocupe el ancho disponible */
                                                ">
                          
                          <div class="card-body p-4 p-lg-5 text-white">

                            {% with messages = get_flashed_messages()  %}
                            {% if messages %}
                          {% for message in messages %}
                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                          </div>
                          {% endfor %}
                          {% endif %}
                          {% endwith %}
                                  
          
                            <div class="d-flex align-items-center mb-3 pb-1">
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                              <span class="h1 fw-bold mb-0">Control+P</span>
                            </div>
          
                            <h4 class="d-flex align-items-center mb-3 pb-1 fw-bold mb-3 pb-3" style="letter-spacing: 1px;">Registro de usuario</h4>
                            
                            
                            
                            <label for="preguntas de seguridad" style="margin-bottom:-20px; color: #fff;">Pregunta de seguridad</label>
                                <select id="pregunta_seguridad" name="pregunta_seguridad" class=" form-outline text-white" selected style="border-radius:25px; border-color: #fff; border-width: 2px; background: transparent; height: 40px;"required>
                                <option value=""  selected>--- Seleccione su pregunta de seguridad ---</option> 
                                <option class="text-black" Value="Nombre de mi primera mascota" >Nombre de mi primera mascota</option>
                                <option  class="text-black" value="Lugar de nacimiento">Lugar de nacimiento</option>
                              <option  class="text-black" value="Comida favorita">Comida favorita</option>
                              <option  class="text-black" value="Deporte favorito">Deporte favorito</option>
                              <option  class="text-black" value="Hobby preferido">Hobby preferido</option>
                              <option  class="text-black" value="Nombre de mi libro favorito">Nombre de mi libro favorito</option></select>

                                <div data-mdb-input-init class="form-outline">
                                  <label for="respuesta_seguridad" class="form-label mt-1"></label>
                                  <input id="respuesta_seguridad" type="text" name="respuesta_seguridad" class="form-control"placeholder="Ingrese su respuesta" 
                                  pattern="[A-Za-zÁáÉéÍíÓóÚúÑñ]+" minlength="5"  
                                  title="La respuesta debe tener al menos 5 letras" oninput="this.value = this.value.replace(/[^A-Za-zÁáÉéÍíÓóÚúÑñ\s]/g, '')" required>
                                    <div class="invalid-feedback">
                                      Complete el campo
                                    </div>
                                </div>
                              

                            <div class="form-row" style="margin-top: 20px;">
                              <div data-mdb-input-init class="form-outline">
                                <div style="position: relative; display: flex; align-items: center;">
                                  <input required type="password" id="contraseña" class="form-control form-control-lg" name="contraseña" placeholder="Ingrese su contraseña"
                                  minlength="8" 
                                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
                                  title="La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un signo especial (@$!%*?&)." required/>
                                  <i class='bx bx-show-alt' style="color: #fff;"></i>
                                </div>
                                  <small id="passwordHelp" class="text-muted"></small>
                                  <small id="passwordError" style="color: red; display: none;">La contraseña no cumple con los requisitos.</small>
                                  <div class="invalid-feedback">
                                  </div>
                              </div>
                              <div data-mdb-input-init class="form-outline">
                                <div style="position: relative; display: flex; align-items: center;">
                                  <input required type="password" id="repetir_contraseña" class="form-control form-control-lg" name="repetir_contraseña" placeholder="Repita su contraseña" 
                                  minlength="8" 
                                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required/>
                                  <i class='bx bx-show-alt' style="color: #fff;"></i>
                                </div>
                                  <div class="invalid-feedback">
                                    Complete el campo
                                  </div>
                              </div>
                            </div>
                          <small for="placeholder" style="font-style:italic; font: size 7px; color: gray"  >La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un signo especial (@$!%*?&).</small>

                            
                          <div class="mt-auto">
                              <button style="margin-top: 10px; margin-bottom: 5px; border-radius: 25px;"class="w-100 btn btn-lg btn btn-light btn-lg btn-block" type="submit">Registrarse</button>
                              <p class="text-center pb-lg-2" style="color: #393f81;">¿Ya estás registrado? <a href="{{url_for('inicio')}}" onclick="limpiarLocalStorage()"
                                  style="color: #393f81;">Volver</a></p>
                          </div>

                          </form>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


</form>
<script>
const contraseña = document.getElementById("contraseña"),
      repetir_contraseña = document.getElementById("repetir_contraseña"),
      iconContraseña = document.querySelectorAll(".bx")[0],  
      iconRepetirContraseña = document.querySelectorAll(".bx")[1];  

iconContraseña.addEventListener("click", e => {
    if (contraseña.type === "password") {
        contraseña.type = "text";
        iconContraseña.classList.remove('bx-show-alt');
        iconContraseña.classList.add('bx-hide');
    } else {
        contraseña.type = "password";
        iconContraseña.classList.remove('bx-hide');
        iconContraseña.classList.add('bx-show-alt');
    }
});

iconRepetirContraseña.addEventListener("click", e => {
    if (repetir_contraseña.type === "password") {
        repetir_contraseña.type = "text";
        iconRepetirContraseña.classList.remove('bx-show-alt');
        iconRepetirContraseña.classList.add('bx-hide');
    } else {
        repetir_contraseña.type = "password";
        iconRepetirContraseña.classList.remove('bx-hide');
        iconRepetirContraseña.classList.add('bx-show-alt');
    }
})
</script>
<script>
//Validacion de contraseña
const form = document.getElementById('registerUser3');
  const passwordInput = document.getElementById('contraseña');
  const passwordError = document.getElementById('passwordError');
  
  form.addEventListener('submit', function(e) {
    const password = passwordInput.value;
    const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

    if (!regex.test(contraseña)) {
      e.preventDefault(); // Evita el envío del formulario
      passwordError.style.display = 'block';
    } else {
      passwordError.style.display = 'none';
    }
  });
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<script>


// Guardar los datos cuando el formulario se envíe
document.getElementById("registerUser3").addEventListener("submit", function(event) {
    event.preventDefault(); // Evita que se envíe el formulario por defecto
    

    // Guardar datos del formulario en localStorage
    
    localStorage.setItem("respuesta_seguridad", document.getElementById("respuesta_seguridad").value);
    localStorage.setItem("contraseña", document.getElementById("contraseña").value);
    localStorage.setItem("repetir_contraseña", document.getElementById("repetir_contraseña").value);

    // Validar el formulario
    if (document.getElementById("registerUser3").checkValidity()) {
        this.submit(); // Solo enviar el formulario si es válido
    }  
});


// Cargar los datos desde localStorage si existen
window.onload = function() {
      
      if (localStorage.getItem("respuesta_seguridad")) {
          document.getElementById("respuesta_seguridad").value = localStorage.getItem("respuesta_seguridad");
      }
      if (localStorage.getItem("contraseña")) {
          document.getElementById("contraseña").value = localStorage.getItem("contraseña");
      }
      if (localStorage.getItem("repetir_contraseña")) {
          document.getElementById("repetir_contraseña").value = localStorage.getItem("repetir_contraseña");
      }

  };
// Limpiar localStorage al abandonar el registro o completar el proceso
function limpiarLocalStorage() {
    localStorage.removeItem("respuesta_seguridad");
    localStorage.removeItem("contraseña");
    localStorage.removeItem("repetir_contraseña");
};
</script>
</body>

{%endblock %}