<title>Empleados registrados</title>

{% extends "dashboard2/basemenu2.html" %}

{% block title %}Empleados registrados{% endblock %}



{% block sidebar %}{% endblock %}



{% block content %} 
    <main class="px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">Empleados registrados</h3>

        <div class="position-relative" style="width: 250px;">
          <input type="text" id="buscarEmpleado" class="form-control" style="border-radius: 25px; padding-right: 40px;" placeholder="Buscar empleado...">
          <i class="bx bx-search-alt-2" style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); color: gray; font-size: 20px;"></i>
        </div>
      
  </div>


  
        <!---Tabla-->
        <div class=container>
          

        <table class="table " id="tablaEmpleados">
            <thead>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Tipo</th>

              </thead>
        
        <tbody>
          {% for d in data %}
            <tr>
                <td>{{d.cedula}}</td>
                <td>{{d.nombre}}</td>
                <td>{{d.apellido}}</td>
                <td>{{d.prefijo_telefonico}}{{d.numero}}</td>
                <td>{{d.tipo}}</td>
                
            </tr>

            
          {% endfor %}


        </tbody>

      </table>
    </div>




    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const inputBusqueda = document.getElementById("buscarEmpleado");
          inputBusqueda.addEventListener("keyup", function() {
              const filtro = this.value.toLowerCase();
              const filas = document.querySelectorAll("#tablaEmpleados tbody tr");
      
              filas.forEach(fila => {
                  const textoFila = fila.textContent.toLowerCase();
                  fila.style.display = textoFila.includes(filtro) ? "" : "none";
              });
          });
      });
      </script>
      



</body>

{% endblock %}
</html>
