<title>Empleados registrados</title>

{% extends "dashboard2/basemenu2.html" %}

{% block title %}Empleados registrados{% endblock %}



{% block sidebar %}{% endblock %}



{% block content %} 
    <main class="px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h2">Empleados registrados</h3>
      
  </div>


  
        <!---Tabla-->
        <div class=container>
          

        <table class="table table bordered">
            <thead>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Tipo</th>

              </thead>
        
        <tbody>
          {% for d in data %}
            <tr>
                <td>{{d.cedula}}</td>
                <td>{{d.nombre}}</td>
                <td>{{d.apellido}}</td>
                <td>{{d.prefijo_telefonico}}{{d.numero}}</td>
                <td>{{d.tipo}}</td>
                
            </tr>

            
          {% endfor %}


        </tbody>

      </table>
    </div>








</body>

{% endblock %}
</html>
