<title>Regsitrar servicio</title>

{% extends "dashboard/basemenu.html" %}

{% block title %}Registrar servicio{% endblock %}

  <style>body{
      background-color: white;
    }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


{% block sidebar %}{% endblock %}



{% block content %} 

  

    
    <main class="px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">Registrar servicio</h3>
      </div>

        <!---Formulario-->
        <form name="form-registrarServicio" id="form-registrarServicio"  action="{{ url_for('registrarServicio') }}" method="POST" class="mt-5" autocomplete="off">

          <div class="col-md-6">
         
 

          
              <label for="tipo" class="form-label mt-1">Servicio</label>
              <select name="tipo" class="form-control" required>
               <option value="0" selected="selected">---Seleccione el tipo de servicio---</option>
               <option>Preventivo</option>
               <option>Correctivo</option>
                </select>
          </div>
          
        

            <div class="col-md-6">
                <label for="descripcion" class="form-label mt-1">Descripción del servicio</label>
                <input type="text" name="descripcion" class="form-control" required>
            </div>

          

        <div class="grid gap-2 mt-3 mb-3">
            <input type="submit" class="btn btn-primary btn-send" id="sendForm" value="Registrar">
            <button type="button" class="btn btn-danger" id="btnLimpiar">Limpiar</button>

        </div>
      </form>



<script>
      document.getElementById("btnLimpiar").addEventListener("click", function() {
        document.getElementById("form-registrarServicio").reset(); // 🧹 Limpia todos los campos
        limpiarLocalStorage(); // 🧹 También limpia el localStorage
    });
</script>
</body>

{% endblock %}
</html>
