<title>Servicios registrados</title>

{% extends "dashboard/basemenu.html" %}

{% block title %}Servicios registrados{% endblock %}



{% block sidebar %}{% endblock %}



{% block content %} 
    <main class="px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Servicios registrados</h1>
        <button type="button" href="#" class="btn btn-light">Exportar PDF</button>
      
  </div>
 
  


        <!---Tabla-->
        <div class=container>

          <table class="table table bordered">
              <thead>
                  <th scope="col">Código de servicio</th>
                  <th scope="col">Tipo de servicio</th>
                  <th scope="col">Descripción</th> 
                  <th scope="col"></th>
                   <th scope="col"></th>
  
                </thead>
          
          <tbody>
            {% for d in data %}
              <tr>
                  <td>{{d.codigo_servicio}}</td>
                  <td>{{d.tipo}}</td>
                  <td>{{d.descripcion}}</td>
                  <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.codigo_servicio}}" data-bs-toggle="modal" data-bs-target="#modal{{d.codigo_servicio}}">Editar</button></td>
                  <td><button class="eliminar btn btn-danger btn-sm" id="btn-eliminar{{d.codigo_servicio}}" data-bs-toggle="modal" data-bs-target="#modaleliminar{{d.codigo_servicio}}" >Eliminar</button></td>
                </tr>
  
                <!-- modal -->
    
                <div class="modal fade" id="modal{{d.codigo_servicio}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.tipo}} {{d.descripcion}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="/editServicio/{{d.codigo_servicio}}" method="post">
    
                             
                              <label>Tipo</label>
                              <select name="tipo" class="form-control" required>
                                <option value="{{d.tipo}}" selected="selected">{{d.tipo}}</option>
                                {% if d.tipo == 'Correctivo' %}
                                  <option>Preventivo</option>
                                {%else %}
                                <option>Correctivo</option>
                                {% endif %}
                              </select>
                              <label>Descripción</label>
                              <input type="text" class="form-control mb-3" name="descripcion" value="{{d.descripcion}}">
                              <label>Código de servicio</label>
                              <input type="text" class="form-control mb-3" name="codigo_servicio" value="{{d.codigo_servicio}}" readonly onmousedown="return false;">
        
                        
                        
                        
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                      </div>
                          </form>
                        </div>
                      </div>
                    </div>
    
                  
                        </div>
                      </div>
                    </div>

                     <!-- modal para borrar-->

            <div class="modal fade" id="modaleliminar{{d.codigo_servicio}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.tipo}} {{d.descripcion}}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>¿Está seguro de que desea eliminar este registro?</p>
                      <div class="modal-footer">
                        <a href="{{url_for('deleteServicio', codigo_servicio=d.codigo_servicio)}}" class="btn btn-danger btn-sm">Eliminar</a>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-sm" id="cancelarEliminar">Cancelar</button>
                     </div>
                    </div>
                  </div>
                </div>
              </div> 
                  {% endfor %}
  
  
                </tbody>
        
              </table>
            </div>
        
      
      
      
      
      
      
      
      
      
      </body>
      
      {% endblock %}
      </html>