
<title>Dashboard</title>

{% extends "dashboard/basemenu.html" %}

{% block title %}Dashboard{% endblock %}



{% block sidebar %}{% endblock %}



{% block content %} 
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dashboard.css')}}">

    <main class=" px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">¡Te damos la bienvenida, {{ session['nombre'] }} {{ session['apellido'] }}!</h1>
          <!-- Mostrar la última sesión anterior -->
          {% if ultima_sesion %}
              
          <h5 style="padding-right: 10px;">Última sesión: {{ ultima_sesion['ultima_sesion'] }}</h5>
          {% else %}
          <h5>No se encuentra historial de sesiones anteriores.</h5>
          {% endif %}
      </div>

      <div class="container text-center" >
        <div class="row justify-content-center">
          <!-- Tarjeta Amarilla (Pedidos por atender) -->
          <div class="col-md-3">
            <div class="card animated-card shadow rounded-4 {% if pedidos_por_atender > pedidos_en_proceso and pedidos_por_atender > pedidos_pendientes_pago %} pulse {% endif %}" style="border-left: solid #FFD700 5px;">
              <div class="card-body">
                <h2 class="fw-bold ">{{ pedidos_por_atender}}</h2>
                <h5 class="card-title " style="color: #dfbe05;">Pedidos por atender</h5>

              </div>
            </div>
          </div>
    
          <!-- Tarjeta Azul (Pedidos en proceso) -->
          <div class="col-md-3">
            <div class="card animated-card shadow rounded-4 " style="border-left: solid #87CEEB 5px;">
              <div class="card-body">
                <h2 class="fw-bold ">{{ pedidos_en_proceso }}</h2>
                <h5 class="card-title " style="color: #87CEEB;">Pedidos en proceso </h5>

              </div>
            </div>
          </div>
    
          <!-- Tarjeta Roja (Pedidos pendientes de pago) -->
          <div class="col-md-3">
            <div class="card animated-card shadow rounded-4" style="border-left:  solid #ff7300 5px;">
              <div class="card-body">
                <h2 class="fw-bold ">{{ pedidos_pendientes_pago }}</h2>

                <h5 class="card-title " style="color: ff7300;">Pedidos pendientes de pago</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  
 </div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
  const counters = document.querySelectorAll(".count");
  counters.forEach(counter => {
    counter.innerText = "0";
    const updateCount = () => {
      const target = +counter.getAttribute("data-target");
      const count = +counter.innerText;
      const increment = target / 100;

      if (count < target) {
        counter.innerText = Math.ceil(count + increment);
        setTimeout(updateCount, 20);
      } else {
        counter.innerText = target;
      }
    };
    updateCount();
  });
});

</script>

</body>

{% endblock %}

