
<title>Dashboard</title>

{% extends "dashboard/basemenu.html" %}

{% block title %}Dashboard{% endblock %}



{% block sidebar %}{% endblock %}



{% block content %} 

    <main class=" px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">¡Te damos la bienvenida, {{ session['nombre'] }} {{ session['apellido'] }}!</h1>
          <!-- Mostrar la última sesión anterior -->
          {% if ultima_sesion %}
              
          <h5 style="padding-right: 10px;">Última sesión: {{ ultima_sesion['ultima_sesion'] }}</h5>
          {% else %}
          <h5>No se encuentra historial de sesiones anteriores.</h5>
          {% endif %}
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  
 </div>


</body>

{% endblock %}

