<title>Clientes registrados</title>

{% extends "dashboard/basemenu.html" %}

{% block title %}Clientes registrados{% endblock %}



{% block sidebar %}{% endblock %}



{% block content %} 
      <main class=" px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Clientes registrados</h1>
          <button type="button" href="#" class="btn btn-light">Exportar PDF</button>
        </div>
     
  
        <!---Tabla-->
        <div class=container>

        <table class="table table bordered">
            <thead>
                <th scope="col">Cedula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Calle</th>
                <th scope="col">Sector</th>
                <th scope="col">Número de casa</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Estado</th>

              </thead>
        
        <tbody>
          {% for d in data %}
            <tr>
                <td>{{d.cedula}}</td>
                <td>{{d.nombre}}</td>
                <td>{{d.apellido}}</td>
                <td>{{d.prefijo_telefonico}} {{d.numero}}</td>
                <td>{{d.calle}}</td>
                <td>{{d.sector}}</td>
                <td>{{d.numero_casa}}</td>
                <td>{{d.nombre_ciudad}}</td>
                <td>{{d.nombre_estado}}</td>
                
            </tr>

       

          {% endfor %}



      </table>
    </div>
    <script>
  document.addEventListener("DOMContentLoaded", function () {

        document.querySelectorAll('.estado').forEach(estadoSelect => {
          estadoSelect.addEventListener('change', function () {
          let estadoId = this.value;
          let ciudadSelect = this.closest('.col-md-6').previousElementSibling.querySelector('.ciudad');

      
          // Limpiar opciones previas
          ciudadSelect.innerHTML = '<option value="" disabled selected>--- Seleccione ---</option>';
      
          if (estadoId) {
              fetch(`/get_ciudades?estado_id=${estadoId}`)  // Cambié la ruta aquí
              .then(response => response.json())
              .then(data => {
                  console.log(data);  // Imprime los datos para ver su estructura
                  data.forEach(ciudad => {
                      let option = document.createElement('option');
                      option.value = ciudad.codigo_ciudad;
                      option.textContent = ciudad.nombre_ciudad;
                      ciudadSelect.appendChild(option);
                  });
              })
              .catch(error => console.error('Error cargando ciudades:', error));
          }
      });
    });
  });
      </script>







</body>

{% endblock %}
</html>
